body > h3 {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 100;
    font-style: italic;
}

.button-array {
    --arrayOpacity: 0.35;
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%);
    background-color: rgba(0, 0, 0, var(--arrayOpacity, 0.5));
}

.musi-player {
    padding: var(--musicControlPadding);
    top: 100%;
    left: 0;
    transform: translateY(-100%);
    height: 10%;
    background-color: var(--musicControlBackground);
    justify-content: center;
}

.musi-player img#audio_thumbnail {
    margin-right: 2em;
    width: auto;
    height: 100%;
    box-shadow: 0 0 1em #000;
}

.musi-player div.musi-player__progress {
    width: 75%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.musi-player div.musi-player__progress div#audio_progress {
    padding: 2%;
    width: 100%;
    height: 50px;
    cursor: ew-resize;
    justify-content: flex-start;
    align-items: center;
}

.musi-player div.musi-player__progress div#audio_progress span {
    --transitionDuration: 50ms;
    width: 0%;
    height: 2px;
    background-color: var(--accentColorSecondary);
    transition: width var(--transitionDuration) linear;
}

.musi-player div.musi-player__settings {
    padding-left: 2em;
}

button.media-control-btn {
    width: auto;
    height: 75%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button.media-control-btn i {
    color: white;
    transition: color 250ms linear;
}

button.media-control-btn:hover i,
button.media-control-btn:focus i {
    color: var(--accentColorPrimary);
}

button:focus {
    outline: rgba(255, 255, 255, 0.2) solid 1px;
    border-radius: 5px;
}

/* todo: change these to fractional units for a grid display */
.music-card {
    width: 250px;
    height: 300px;
}

div.add-new-card button {
    background-color: transparent;
    color: var(--accentColorSecondary);
    border: 1px solid var(--accentColorPrimary);
    font-size: 250%;
}

button {
    cursor: pointer;
}

#popup {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: fit-content;
    height: fit-content;
    min-width: 25vw;
    min-height: 40vh;
    background-color: rgba(100, 100, 100, 0.2);
    backdrop-filter: blur(20px);
    transition: transform 250ms cubic-bezier(0.33, 1, 0.68, 1);
    box-shadow: 0 0 0.5em #000;
    /* visibility: hidden; */
    z-index: 2;
}

div#popup.popup-visible {
    transform: translate(-50%, -50%) scale(1);
    /* visibility: visible; */
}

div#popup.popup-visible::before {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 1;
    content: '';
}

button#popup__forceclose {
    position: absolute;
    left: 100%;
    top: 0%;
    transform: translate(-100%, 0);
    width: 2em;
    height: 2em;
    background-color: transparent;
    border: none;
}

button#popup__forceclose i {
    transition: color 250ms linear;
}

button#popup__forceclose:hover i,
button#popup__forceclose:focus i {
    color: #ff3838;
}

span#popup__drag {
    height: 1.5em;
    background-color: rgba(100, 100, 100, 0.2);
    cursor: move;
}
