@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    transform: none;
    box-sizing: border-box;
}

:root {
    --backgroundColorPrimary: #111;
    --textColorPrimary: #fff;
    --globalInsertPadding: 5em;
    --musicControlBackground: #151515;
    --musicControlPadding: 1em;
    --accentColorPrimary: #7158e2;
    --accentColorSecondary: #7d5fff;
}

html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

body {
    padding: var(--globalInsertPadding, 0);
    width: 100vw;
    height: 90vh;
    background-color: var(--backgroundColorPrimary);
    color: var(--textColorPrimary);
}

.flex-view {
    display: flex;
}

.flex-horiz {
    flex-direction: row;
}

.flex-vert {
    flex-direction: column;
}

.grid-view {
    display: grid;
}

.fixed-pos {
    position: fixed;
}

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

/* aspect-ratio is still in beta */
.aspect-square {
    aspect-ratio: 1/1;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.full-both {
    width: 100%;
    height: 100%;
}

.single-item-center {
    display: grid;
    place-items: center;
}

main {
    padding: 1em;
    width: 100%;
    min-height: calc(100% - var(--globalInsertPadding));
    overflow-y: auto;
}
